.settings {
  display: block;
  font-size: 25px;
  padding-right: 10px;

  &:hover {
    text-decoration: none;
  }
}

:host {
    padding-top: 60px;
}

#version-info {
    position: fixed;
    bottom: 3px;
    left: 5px;
    font-size: 12px;
    color: #aaaaaa;
}
