<div *ngIf="detail">


  <div class="detail-container container">

    <ingrid-error [msg]="error"></ingrid-error>

    <dl class="dl-horizontal">
      <dt>Index-Name</dt>
      <dd>{{detail.name}}
        <span class="glyphicon glyphicon-certificate"
              [class.text-success]="detail.active"
              [class.text-danger]="!detail.active"
        ></span>
      </dd>

      <dt>Index-Type</dt>
      <dd>{{detail.type}}</dd>

      <dt>Name der Komponente</dt>
      <dd>{{detail.longName}}</dd>

      <dt>Admin-URL</dt>
      <dd><a target="_blank" [href]="detail.adminUrl">{{detail.adminUrl}}</a></dd>

      <dt>Anzahl Dokumente</dt>
      <dd>{{detail.numberDocs}}</dd>

      <dt>Letzte Aktualisierung</dt>
      <dd>{{detail.lastIndexed | date:'medium'}}</dd>

      <dt>Letzter Heartbeat</dt>
      <dd>{{detail.lastHeartbeat | dateRelative}} ({{detail.lastHeartbeat | date:'medium'}})</dd>

      <dt>Mapping</dt>
      <dd>
        <a (click)="showMapping = !showMapping" class="btn btn-xs btn-default">
          {{showMapping ? 'Verstecken' : 'Anzeigen'}}
        </a>
        <pre *ngIf="showMapping" class="mapping">{{detail.mapping | json}}</pre>
      </dd>

      <dt>Status</dt>
      <dd *ngIf="detail.indexingState?.running">
        {{detail.indexingState?.numProcessed}} / {{detail.indexingState?.totalDocs}}:
        {{detail.indexingState?.message}}
      </dd>
      <dd *ngIf="!detail.indexingState?.running">
        Keine Indizierung
      </dd>
    </dl>

  </div>

  <div class="footer">
    <div class="container">
      <form class="form-inline">

        <!-- DELETE BUTTON-->
        <a class="btn btn-default deleteIndex" confirmbuttontype="danger" mwlConfirmationPopover
           [title]="'Wirklich löschen?'"
           [message]="'Achtung! Der Index kann noch weitere Typen enthalten, die ebenfalls entfernt werden. Wollen Sie den Index wirklich löschen?'"
           placement="top"
           confirmText="Löschen"
           cancelText="Abbrechen"
           (confirm)="deleteIndex()">Löschen</a>

        <!-- ACTIVATE / DEACTIVATE -->
        <a class="btn btn-default toggleActiveIndex" (click)="toggleActive()">{{ detail.active ? 'Deaktivieren' :
          'Aktivieren'}}</a>

        <!-- INDEX -->
        <a class="btn btn-default doIndex" (click)="index()">Indexierung vormerken</a>

        <!-- TOGGLE WHEN NO HEARTBEAT-->
        <div class="checkbox">
          <label>
            <input type="checkbox" [checked]="detail.deactivateWhenNoHeartbeat" (click)="toggleHeartbeatDeactivation()">
            deaktivieren, wenn kein Heartbeat
          </label>
        </div>

      </form>
    </div>
  </div>
</div>
