<div class="card list mb-3">
  <span class="index-id">{{data.proxyServiceUrl}}</span>

  <div class="card-body">
    <div class="flex-row">
        <span *ngIf="data.useRemoteElasticsearch" class="btn iplugState btn-secondary disabled"
              title="Dieses iPlug verwendet den zentralen Index und wird über die Indexverwaltung gesteuert.">
          <i class="fa fa-power-off"></i>
        </span>
      <span *ngIf="!data.useRemoteElasticsearch"
            class="btn iplugState" [class.btn-success]="data.activated" [class.btn-danger]="!data.activated"
            title="Aktiviere/Deaktiviere IPlug"
            (click)="activateIPlug(data, $event)"><i class="fa fa-power-off"></i></span>
      <div class="flex-column">
        <div>
          <span class="index-name" [title]="'Index: ' + data.name">{{data.dataSourceName}}</span>
          <span><a href="{{data.IPLUG_ADMIN_GUI_URL}}"
                   title="Admin-GUI"
                   target="_blank"
                   class="bookmark fa fa-bookmark"></a></span>
        </div>
        <div>{{data.dataSourceDescription}}</div>
      </div>
    </div>
  </div>
</div>
