@use "sass:color";
:host {
    padding: 20px;
}

.header {
    padding: 10px 0 20px;
}

.accordion .card-header {
    cursor: pointer;

    &:hover {
        background-color: color.adjust(#f7f7f7, $lightness: -2.5%);
    }
}

.collapse {
    overflow: auto;

    .card-body {
        max-height: 500px;

        pre {
            font-size: 12px;
        }
    }
}
