.index-id {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 5px;
  border-radius: 6px;
  display: inline-block;
  font-size: x-small;
}

.list-group-item {
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.short .index-id {
  padding: 10px;
  border: none;
}

.short.panel {
  margin-bottom: 5px;
}
.short .panel-body {
  padding: 5px;
}

.panel {
  position: relative;
}

.content {
  padding-left: 15px;
}

.indexState {
  padding: 5px;
  margin-right: 5px;
  position: absolute;
  left: 5px;
  top: 8px;
}

.indexState:hover, .delete:hover {
  background-color: #eeeeee;
  border-radius: 20px;
}

.delete {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 5px;
  margin: 5px;
  color: #dddddd;
}
.delete:hover {
  color: #ff0000;
}

.dropdown {
  position: absolute;
  right: 5px;
  top: 10px;
}
.short .dropdown {
  top: 1px;
}
.menu-icon {
  padding: 2px 0 0px 5px;
}
.menu-icon:after {
  content: '\2807';
  font-size: 1.5em;
}

.link {
    padding-left: 5px;
}


