:host-context(.other) .card-body {
    padding: 4px 20px;
}

.index-id {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 5px;
  border-radius: 6px;
  display: inline-block;
  font-size: x-small;
}

.card-body {
    display: flex;
    gap: 12px;
    align-items: center;
}

.list-group-item {
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.short .index-id {
  padding: 10px;
  border: none;
}

.short.panel {
  margin-bottom: 5px;
}
.short .panel-body {
  padding: 5px;
}

.panel {
  position: relative;
}

.content {
  padding-left: 15px;
}

.indexState:hover, .delete:hover {
  background-color: #eeeeee;
  border-radius: 20px;
    cursor: pointer;
}

.delete {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 5px;
  margin: 5px;
  color: #dddddd;
}
.delete:hover {
  color: #ff0000;
}

.menu-icon:after {
  content: '\22EE';
  font-size: 1.5em;
}

.link {
    padding-left: 5px;
}


