<div class="container">

  <div class="search input-group">
    <input #query (keyup.enter)="search(query.value)" class="form-control" placeholder="Suche nach ...">
    <span class="input-group-btn">
        <button class="btn btn-info" type="button" (click)="search(query.value)">Suchen</button>
      <div class="form-check">
        <input #isDebug class="form-check-input" type="checkbox" value="true" id="chkShowDebug" (change)="showDebug = isDebug.checked">
        <label class="form-check-label" for="chkShowDebug">
          debug
        </label>
      </div>
      </span>
  </div>

  <div *ngIf="hits" class="total">Gesamt: {{totalDocs}}</div>



  <div class="results flexy">
    <div class="debug-info collapse" [class.show]="showDebug">
      <div class="card text-white bg-secondary">
        <div class="card-header">Debug Information</div>
        <div class="card-body">
          <div *ngFor="let info of debugInfo">
            <span class="debug-title">{{info.title}}:</span> {{info.message}} <span *ngIf="info.duration">(took: {{info.duration}}ms)</span>
            <ul *ngIf="info.messageList">
              <li *ngFor="let msg of info.messageList">{{msg}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div *ngFor="let hit of hits">
      <hit-item [hit]="hit"></hit-item>
    </div>

    <div *ngIf="hits.length === 0">
      Die Suche ergab keine Treffer.
    </div>
  </div>

  <ingrid-error [msg]="error"></ingrid-error>

</div>
