<div class="container">

  <div class="search input-group">
    <input #query (keyup.enter)="search(query.value)" class="form-control" placeholder="Suche nach ...">
    <span class="input-group-btn">
        <button class="btn btn-info" type="button" (click)="search(query.value)">Suchen</button>
      </span>
  </div>

  <div *ngIf="hits" class="total">Gesamt: {{totalDocs}}</div>

  <div class="results flexy">
    <div *ngFor="let hit of hits">
      <hit-item [hit]="hit"></hit-item>
    </div>

    <div *ngIf="hits.length === 0">
      Die Suche ergab keine Treffer.
    </div>
  </div>

  <ingrid-error [msg]="error"></ingrid-error>

</div>
