<div class="container">

  <div *ngIf="config['needPasswordChange']" class="alert alert-warning">
    Sie müssen hier unter den "Server Einstellungen" ein neues Passwort für die Administrationsoberfläche setzen
  </div>

  <div *ngIf="saveSuccess" class="fixed-bottom text-center">
    <div class="alert alert-info">
      Die Änderungen wurden erfolgreich gespeichert.
      <div *ngIf="isReloading">
           Durch die Änderung des Administrationspassworts werden Sie in kürze weitergeleitet, um sich neu anzumelden.
      </div>
    </div>
  </div>

  <form *ngIf="!isReloading" class="form-horizontal">

    <div class="card">
      <div class="card-header">
        Codelist Repository
        <span [class]="getStatusClass('codelistrepo')"></span>
      </div>

      <div class="card-body">

        <div class="form-group">
          <label class="control-label">URL</label>
          <input type="text" class="form-control" placeholder="https://..." name="codelistUrl" [(ngModel)]="config['codelistrepo.url']">
        </div>
        <div class="form-group">
          <label class="control-label">Benutzername</label>
          <input type="text" class="form-control" name="codelistUsername" [(ngModel)]="config['codelistrepo.username']">
        </div>
        <div class="form-group">
          <label class="control-label">Passwort</label>
          <input type="password" class="form-control" placeholder="<aktuelles Passwort>" [ngModelOptions]="{standalone: true}" autocomplete="off" [(ngModel)]="config['codelistrepo.password']" [disabled]="isEmptyPassword">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" (change)="handleEmptyPassword($event)">
              leeres Passwort
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Elasticsearch
        <span [class]="getStatusClass('elasticsearch')"></span>
      </div>
      <div class="card-body">

        <div class="form-group">
          <label class="control-label">Urls</label>
          <input type="text" class="form-control" placeholder="<ip:port>,<ip:port>,..." name="elasticUrls" [(ngModel)]="config['elastic.remoteHosts']" required="true">
        </div>

      </div>
    </div>

    <div class="card">
      <div class="card-header">Server Einstellungen</div>
      <div class="card-body">

        <div class="form-group">
          <label class="control-label">Passwort</label>
          <input type="password" class="form-control" placeholder="<aktuelles Passwort>" name="adminPasswort" [(ngModel)]="config['spring.security.user.password']">
        </div>

      </div>
    </div>
<!--
    <div class="card">
      <div class="card-header">Sucheinstellungen</div>
      <div class="card-body">

        <div class="form-group">
          <label class="col-sm-2 control-label">Such-Indizes</label>
          <div class="col-sm-10">
            <div *ngFor="let id of activeIndices">
              {{id}}
            </div>
          </div>
        </div>
      </div>
    </div>
    -->

    <button class="btn btn-primary pull-right" (click)="saveSettings()">Speichern</button>
    <div class="clearfix"></div>
  </form>
</div>

<ingrid-error [msg]="error"></ingrid-error>
