/* You can add global styles to this file, and also import other style files */

html, body, app-root {
  height: 100%;
}

.container {
    padding: 10px 15px 0;
}

button.fa-info {
  padding: 2px 7px;
}

dt {
  padding-bottom: 15px;
}

.error {
  padding: 15px;
}

.clickable, .clickable-only {
  cursor: pointer;
}
.clickable:hover {
  background-color: #f8f8f8;
}

.glyphicon.clickable:hover {
  background-color: inherit;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}
