/* You can add global styles to this file, and also import other style files */

html, body, app-root {
  height: 100%;
}

.container {
    padding: 60px 15px 0;
}

.error {
  padding: 15px;
}

.clickable.panel {
  cursor: pointer;
}

.clickable.panel:hover {
  background-color: #eee;
}
