body, td {font-family:Arial;font-size:12px}
.tablehead {background-color:#176798; color:#FFFFFF;font-weight:bold;padding-left:20px;}
.tablecell {background-color:#F4F4F4; color:#000000;padding-left:10px;}
.metadata {color:#959595}
.error {color:#ED171F;font-weight:bold}
.headline{font-family:Arial;font-size:14px;font-weight:bold;color:#176798;}
.byline{font-family:Arial;font-size:12px;color:#000000;font-weight:normal}
.summary {font-family:Arial;font-size:12px;color:#000000;}
.relation {font-family:Arial;font-size:xx-small;color:#176798;}
div.headline{padding:30px; border:1px;border-style:solid;border-color:#176798;background-color:#CCEBFF}
div.summary{text-align:left;align:left;padding:20px; border:1px;border-style:solid;border-color:#959595;background-color:#F4F4F4}
div.error {background-color:#FCDEDE; width:400px; align:center; border:1px; border-style:solid;border-color:#ED171F; padding: 20px}
div.content {border:1px; border-style:solid;border-color:#000000; padding: 20px}
table.table {border:1px;border-style:solid;border-color:#176798;margin:2;padding:2; width:400px}
table.tableshort {border:1px;border-style:solid;border-color:#176798;margin:2;padding:2}
input.button {border:1px;border-style:solid;border-color:#000000;background-color:#CCCCCC;font-family:Arial;font-size:10px;font-weight:bold}
div.chain{position:relative;z-index:2;left:-40;top:10}